<a href="https://colab.research.google.com/github/lomasterI/test-task/blob/main/test_ozon2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect(r'/content/drive/MyDrive/Users.db')

In [ ]:
cur = conn.cursor()

In [ ]:
conn.execute("""CREATE TABLE IF NOT EXISTS user(
  id primary key,
  status ,
  name ,
  type ,
  created)""")
conn.commit()

In [ ]:
conn.execute("""CREATE TABLE IF NOT EXISTS user_status_history(
  id primary key,
  user_id,
  old_status  text not null,
  new_status  text not null,
  reason text not null,
  created timestamp	)""")
conn.commit()

In [ ]:
us = [
      (1, 'block', 'Дорохов Максим Николаевич', 1, '2010-01-12 04:07:06.000000'),
      (2, 'reg', 'Ильина София Викторовна', 2, '2016-12-26 07:52:55.000000'),
      (3, 'ok', 'Шаров Лев Антонович', 3, '2015-07-29 06:05:26.000000'),
      (4, 'ok', 'Троицкая Мария Никитична', 4, '2014-09-17 04:34:19.000000'),
      (5, 'error', 'Родионова Даниэла Макаровна', 1, '2013-11-05 21:51:45.000000'),
      (6, 'error', 'Богомолова Мария Давидовна', 2, '2010-02-08 09:42:35.000000'),
      (7, 'invalid_status', 'Лапин Георгий Фёдорович', 3, '2017-06-20 18:21:05.000000'),
      (8, 'ok', 'Климова Ева Богдановна', 4, '2019-02-20 15:02:14.000000'),
      (9, 'reg', 'Зимин Кирилл Святославович', 1, '2019-07-30 22:26:29.000000'),
      (10, 'error', 'Зайцева Николь Вячеславовна', 2, '2011-03-08 22:57:34.000000'),
      (11, 'block', 'Вдовина Полина Марковна', 3, '2011-04-26 22:08:06.000000'),
      (12, 'ok', 'Скворцов Егор Ибрагимович', 4, '2013-03-27 09:01:12.000000'),
      (13, 'block', 'Кондратьева Кира Никитична', 1, '2018-03-15 21:31:01.000000'),
      (14, 'block', 'Петрова Ульяна Данииловна', 2, '2016-06-23 20:24:51.000000'),
      (15, 'error', 'Козлова Елена Данииловна', 5, '2020-06-23 20:23:42.000000'),
      (16, 'error', 'Симонов Сергей Семонович', 4, '2020-04-19 16:23:42.000000'),
      (17, 'error', 'Поморцева Ольга Владиславовна', 5, '2020-01-19 08:17:41.000000')
]

In [ ]:
ush = [
       (105, 17, 'reg', 'error', 'Can''t write DB', '2020-01-19 08:19:41.000000') ,
  (98, 17, 'new', 'reg', 'Start registration', '2020-01-19 08:17:41.000000') ,
  (71, 16, 'error', 'error', 'AntiFraud', '2020-04-25 13:18:40.000000') ,
  (100, 16, 'ok', 'error', 'Validation error', '2020-04-20 13:16:40.000000') ,
  (82, 16, 'reg', 'ok', 'Success registartion', '2020-04-19 16:27:42.000000') ,
  (77, 16, 'new', 'reg', 'Start registration', '2020-04-19 16:23:42.000000') ,
  (70, 15, 'ok', 'error', 'Error registartion', '2029-06-23 20:25:44.000000') ,
  (66, 15, 'reg', 'ok', 'Success registartion', '2029-06-23 20:25:42.000000') ,
  (102, 15, 'new', 'reg', 'Start registration', '2029-06-23 20:23:42.000000') ,
  (75, 14, 'ok', 'error', 'AntiFraud', '2016-09-14 10:15:54.000000') ,
  (93, 14, 'reg', 'ok', 'Success registartion', '2016-06-23 20:34:51.000000') ,
  (67, 14, 'new', 'reg', 'Start registration', '2016-06-23 20:24:51.000000') ,
  (74, 13, 'ok', 'error', 'Validation error', '2018-08-19 14:31:00.000000') ,
  (62, 13, 'reg', 'ok', 'Success registartion', '2018-03-15 21:37:01.000000') ,
  (80, 13, 'new', 'reg', 'Start registration', '2018-03-15 21:31:01.000000') ,
  (63, 12, 'reg', 'ok', 'Success registartion', '2013-03-27 09:13:12.000000') ,
  (101, 12, 'new', 'reg', 'Start registration', '2013-03-27 09:01:12.000000') ,
  (97, 11, 'ok', 'block', 'User delete account', '2011-10-28 17:17:06.000000') ,
  (84, 11, 'reg', 'ok', 'Success registartion', '2011-04-26 23:08:06.000000') ,
  (83, 11, 'new', 'reg', 'Start registration', '2011-04-26 22:08:06.000000') ,
  (61, 10, 'ok', 'error', 'AntiFraud', '2020-04-23 13:16:40.000000') ,
  (68, 10, 'error', 'ok', 'Support help', '2020-04-21 13:16:40.000000') ,
  (79, 10, 'ok', 'error', 'Validation error', '2020-04-20 13:16:40.000000') ,
  (69, 10, 'reg', 'ok', 'Success registartion', '2020-04-19 16:24:42.000000') ,
  (104, 10, 'new', 'reg', 'Start registration', '2020-04-19 16:23:42.000000') ,
  (73, 9, 'new', 'reg', 'Start registration', '2019-07-30 22:26:29.000000') ,
  (96, 8, 'reg', 'ok', 'Success registartion', '2019-07-20 15:02:14.000000') ,
  (92, 8, 'new', 'reg', 'Start registration', '2019-02-20 15:02:14.000000') ,
  (91, 7, 'ok', 'error', 'Balance error', '2017-08-23 15:15:05.000000') ,
  (95, 7, 'reg', 'ok', 'Success registartion', '2017-06-20 18:25:07.000000') ,
  (65, 7, 'new', 'reg', 'Start registration', '2017-06-20 18:21:05.000000') ,
  (106, 6, 'ok', 'error', 'Balance error', '2010-06-08 05:45:33.000000') ,
  (94, 6, 'new', 'reg', 'Start registration', '2010-02-08 09:42:35.000000') ,
  (103, 6, 'reg', 'ok', 'Success registartion', '2010-02-08 09:42:35.000000') ,
  (90, 5, 'ok', 'error', 'Validation error', '2013-12-11 17:51:45.000000') ,
  (89, 5, 'reg', 'ok', 'Success registartion', '2013-11-05 21:54:45.000000') ,
  (86, 5, 'new', 'reg', 'Start registration', '2013-11-05 21:51:45.000000') ,
  (88, 4, 'reg', 'ok', 'Success registartion', '2014-09-17 04:39:19.000000') ,
  (81, 4, 'new', 'reg', 'Start registration', '2014-09-17 04:34:19.000000') ,
  (85, 3, 'reg', 'ok', 'Success registartion', '2015-07-29 07:05:26.000000') ,
  (78, 3, 'new', 'reg', 'Start registration', '2015-07-29 06:05:26.000000') ,
  (87, 2, 'new', 'reg', 'Start registration', '2016-12-26 07:52:55.000000') ,
  (64, 1, 'ok', 'block', 'User delete account', '2010-04-12 06:10:06.000000') ,
  (72, 1, 'new', 'reg', 'Start registration', '2010-01-12 04:07:06.000000') ,
  (76, 1, 'reg', 'ok', 'Success registartion', '2010-01-12 04:07:06.000000')
]

In [ ]:
cur.executemany("INSERT INTO user VALUES(?, ?, ?, ?, ?)", us)
cur.executemany("INSERT INTO user_status_history VALUES(?, ?, ?, ?,?, ?)", ush)
conn.commit()

In [ ]:
cur.execute("""
SELECT FROM user_status_history
WHERE user_status_history.created = (SELECT MAX(created) FROM user_status_history)
;""")
print(cur.fetchall())

[(70, 15, 'ok', 'error', 'Error registartion', '2029-06-23 20:25:44.000000')]

In [ ]:
result1 = cur.execute("""
SELECT user.name, user.id, user.created, user_status_history.reason
from user_status_history, user 
where reason ='Validation error'
and old_status ='ok' 
and new_status = 'error'
and user_status_history.user_id=user.id
UNION
SELECT user.name, user.id, user.created, user_status_history.reason
from user_status_history, user 
where reason ='Balance error'
and old_status ='ok' 
and new_status = 'error'
and user_status_history.user_id=user.id
UNION
SELECT user.name, user.id, user.created, user_status_history.reason
from user_status_history, user 
where reason ='AntiFraud'
and old_status ='ok' 
and new_status = 'error'
and user_status_history.user_id=user.id
;""")
print(*result1.fetchall(), sep = "\n")

('Богомолова Мария Давидовна', 6, '2010-02-08 09:42:35.000000', 'Balance error')
('Зайцева Николь Вячеславовна', 10, '2011-03-08 22:57:34.000000', 'AntiFraud')
('Зайцева Николь Вячеславовна', 10, '2011-03-08 22:57:34.000000', 'Validation error')
('Кондратьева Кира Никитична', 13, '2018-03-15 21:31:01.000000', 'Validation error')
('Лапин Георгий Фёдорович', 7, '2017-06-20 18:21:05.000000', 'Balance error')
('Петрова Ульяна Данииловна', 14, '2016-06-23 20:24:51.000000', 'AntiFraud')
('Родионова Даниэла Макаровна', 5, '2013-11-05 21:51:45.000000', 'Validation error')
('Симонов Сергей Семонович', 16, '2020-04-19 16:23:42.000000', 'Validation error')

по отдельности получается выцепить людей по ошибкам и по времени . а вот соединить у меня не получилось. к сожалению.