<a href="https://colab.research.google.com/github/lomasterI/test-task/blob/main/test_ozon1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Дан файл input.txt, содержащий в себе строки, в которых в случайном порядке заданы поля, несущие определенную информацию. Каждая строка содержит в себе одинаковое количество униклаьных полей. Все строки заключены в квадратные скобки. Название поля и его значение отделяется двоеточием. Поля разделены пробелами и могут содержать:
1) Строковые данные, которые заключены в кавычки и могут содержать пробелы
2) Числовые данные, являющиеся последовательностью цифр.
Выходные данные:
Для строк, в которых значение поля function является "MakePayment" собрать статистику сообещний message из следующего списка: 
1) "Validation error" 
2) "AntiFraud" 
3) "Unkown user" 
Статистика должна включать в себя количество подобных сообщений, а также наиболее частое значение поля user_type для каждого типа сообщений. Если для какого-то сообщения максимальное количество значений полей user_type встречатеся одинаковое количество раз, то необходимо вывести любое. Данную информацию необходимо вывести в порядке убывания по количеству сообщений, сообщения с одинаковой частотой, в пределах данной частоты, выводятся в произвольном порядке. Также для строк, соответствующих вышеописанному условию, необходимо вывести значения полей user_id и message, разделяемых табуляцией, в произвольном порядке. Вывод осуществляется в файл output.txt. Вывод должен быть человекочитаемым, ожидаемый пример структуры файла output.txt:

message "Validation error", count 2, most count user type 1
message "Unkown user", count 1, most count user type 4
message "AntiFraud", count 1, most count user type 3


1	"Validation error"
2	"Unkown user"
3	"AntiFraud"
4	"Validation error"

In [ ]:
import numpy as np    # Нампай для массивов
import pandas as pd   # Пандас для данных
import re             # Регулярные выражения
from tensorflow.keras import utils # Для приведения к категориальным данным
from google.colab import files     # Загрузка файлов
import csv

файл открыл в exl с разделителями "пробел" и ":"
потом сохранил в текстовый файл с разделением "табуляция"

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/input999.txt', header=None, sep= '\t')

In [ ]:
df['a'] = df[0] + ' ' + df [1]
df['b'] = df[2] + ' ' + df [3]
df['c'] = df[4] + ' ' + df [5]
df['d'] = df[6] + ' ' + df [7]
df['e'] = df[8] + ' ' + df [9]
df['f'] = df[10] + ' ' + df [11]

In [ ]:
df1 = df[['a','b','c','d','e','f']]
df1

                                                   a  ...                                                  f
0   [auth_token 9fbdf73c-3983-46ce-821b-9e80b35c2ad2  ...                                       user_type 1]
1                               [message Unkown user  ...   auth_token 075aca1d-d018-422a-a9b3-7e4740bf8d54]
2                                      [user_id 4024  ...                                       user_type 3]
3                                       [user_id 680  ...                                        message Ok]
4                               [function AddBalance  ...   auth_token 66e22b99-d713-47eb-8101-2111cb10a75b]
..                                               ...  ...                                                ...
95  [auth_token a0b8f884-f81f-425b-8178-5eac136bcbf3  ...                                        message Ok]
96                              [function AddBalance  ...                                       user_type 1]
97                                       [message Ok  ...  request_token 9d4e434d-6807-4b68-8fd9-c7a17dd6...
98                                [message AntiFraud  ...                                 function AddOrder]
99                             [function MakePayment  ...                                       user_type 1]

[100 rows x 6 columns]

In [ ]:
df1['a'] = df1['a'].str.replace('[','')
df1['f'] = df1['f'].str.replace(']','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df4 = df1

In [ ]:
result = []
result1 = []
result2 = []
result3 = []
result4 = []
result5 = []
for rowIndex, row in df4.iterrows():
  for columnIndex, value in row.items():
    if ('user_id' in value):
      result.append(value)
    elif ('type' in value):
      result1.append(value)
    elif ('message' in value):
      result2.append(value)
    elif ('function' in value):
      result3.append(value)
    elif ('auth' in value):
      result4.append(value)
    else:
      result5.append(value)
df4["Result"] = result
df4["Result1"] = result1  
df4["Result2"] = result2  
df4["Result3"] = result3  
df4["Result4"] = result4  
df4["Result5"] = result5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2 = df4.drop(df4.columns[[0,1,2,3,4,5]],axis=1 )

In [ ]:
df2[['a', 'user_id']] = df2.Result.str.split(' ', expand=True)

In [ ]:
df2[['b', 'user_type']] = df2.Result1.str.split(' ', expand=True)
df2[['c', 'message']] = df2.Result2.str.split(' ', 1, expand=True)
df2[['d', 'function']] = df2.Result3.str.split(' ', expand=True)
df2[['e', 'auth_token']] = df2.Result4.str.split(' ', expand=True)
df2[['f', 'request_token']] = df2.Result5.str.split(' ', expand=True)

In [ ]:
df2

          Result  ...                         request_token
0   user_id 2973  ...  7bd4de34-2707-47bb-918e-81b6edefa576
1   user_id 1886  ...  0e92c262-e637-4a0e-9816-93b84ddfbe28
2   user_id 4024  ...  18191020-0e05-4502-96e4-cf3bad0bb87d
3    user_id 680  ...  21f7f9d6-2c4c-46fc-8f64-c363d7d29545
4   user_id 3824  ...  0a534a16-96b4-4367-a401-7b66987b140b
..           ...  ...                                   ...
95  user_id 2974  ...  4563794c-c08e-4735-ab56-1afae513ad0e
96  user_id 2717  ...  eaf0c480-bf8c-4497-acaa-5ab2a06264cf
97  user_id 5429  ...  9d4e434d-6807-4b68-8fd9-c7a17dd67e71
98  user_id 5809  ...  a1bc0649-ce62-4db4-b8cd-548a9617d2f3
99  user_id 2515  ...  3431b1bc-12ba-4749-ade8-c093accd4fb5

[100 rows x 18 columns]

In [ ]:
dataf = df2.drop(df2.columns[[0,1,2,3,4,5,6,8,10,12,14,16]],axis=1 )

In [ ]:
dataf

   user_id  ...                         request_token
0     2973  ...  7bd4de34-2707-47bb-918e-81b6edefa576
1     1886  ...  0e92c262-e637-4a0e-9816-93b84ddfbe28
2     4024  ...  18191020-0e05-4502-96e4-cf3bad0bb87d
3      680  ...  21f7f9d6-2c4c-46fc-8f64-c363d7d29545
4     3824  ...  0a534a16-96b4-4367-a401-7b66987b140b
..     ...  ...                                   ...
95    2974  ...  4563794c-c08e-4735-ab56-1afae513ad0e
96    2717  ...  eaf0c480-bf8c-4497-acaa-5ab2a06264cf
97    5429  ...  9d4e434d-6807-4b68-8fd9-c7a17dd67e71
98    5809  ...  a1bc0649-ce62-4db4-b8cd-548a9617d2f3
99    2515  ...  3431b1bc-12ba-4749-ade8-c093accd4fb5

[100 rows x 6 columns]

In [ ]:
datadata = dataf

In [ ]:
data22 = datadata.groupby(['function','message', 'user_type', 'user_id'],as_index=False).max()

In [ ]:
data22 = data22.loc[data22['function'] == 'MakePayment']

In [ ]:
data22 = data22.loc[data22['message'] != 'Ok']
data22 = data22.loc[data22['message'] != 'Wrong Token']
data22 = data22.loc[data22['message'] != 'Canceled']

In [ ]:
data22['message'].value_counts()
#сколько какое сообщение встречается раз

Validation error    6
AntiFraud           6
Unkown user         4
Name: message, dtype: int64

In [ ]:
data22[(data22['function'] == 'MakePayment') & (data22['message'] == 'Validation error')]['user_type'].mode()
#самые часто повторяющиеся значение в столбце 'user_type' для 'Validation error'

0    1
dtype: object

In [ ]:
data22[(data22['function'] == 'MakePayment') & (data22['message'] == 'AntiFraud')]['user_type'].mode()
#самые часто повторяющиеся значение в столбце 'user_type' для 'AntiFraud'
#тут их несколько

0    2
1    5
dtype: object

In [ ]:
data22[(data22['function'] == 'MakePayment') & (data22['message'] == 'Unkown user')]['user_type'].mode()
#самые часто повторяющиеся значение в столбце 'user_type' для 'Unkown user'

0    1
dtype: object

In [ ]:
data33 = data22.drop(data22.columns[[0,2,4,5]],axis=1 )

In [ ]:
data33
# значения полей user_id и message

             message user_id
68         AntiFraud     735
69         AntiFraud    2193
70         AntiFraud    3080
71         AntiFraud    1650
72         AntiFraud    5938
73         AntiFraud    9678
86       Unkown user    3867
87       Unkown user    5227
88       Unkown user    6195
89       Unkown user    9028
90  Validation error    1002
91  Validation error    3438
92  Validation error    5945
93  Validation error    5500
94  Validation error    7517
95  Validation error    4024

In [ ]:
f = open('/content/drive/MyDrive/output (1).txt','w')  # открытие в режиме записи
>>> f.write('''message "Validation error", count 6, most count user type 1
message "AntiFraud", count 6, most count user type 2
message "Unkown user", count 4, most count user type 1''')  # запись  в файл
f.close()  # закрытие файла

In [ ]:
data33.to_csv(r"/content/drive/MyDrive/output (1).txt", header=None, index=None, sep=' ', mode='a')